@using Quarantine_Management.Function
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    DateTime dt = DateTime.Now;
    var Month = dt.ToString("MMMM");
}

<style>
    .modal-dialog {
        max-width: 110% !important;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .modal {
        padding-right: 4px !important;
        padding: .5%;
    }

    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 12px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3">
                            <div class="d-flex">
                                <h2 class="text-dark"><i class="fa fa-key"></i> Change</h2>&nbsp;
                                <h2 class="text-dt">Password</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <!-- Profile Image -->
                                <div class="card card-success card-outline">
                                    <div class="card-body box-profile">
                                        <div class="text-center">
                                            <img src="~/assets/header.png" class="img-circle elevation-2 bg-white" alt="User Image">
                                        </div>
                                        <h4 class="profile-username text-center">@HttpContextAccessor.HttpContext.Session.GetString("roles")</h4>
                                        <p class="text-muted text-center">@HttpContextAccessor.HttpContext.Session.GetString("name")</p>
                                        <p class="text-muted text-center">@HttpContextAccessor.HttpContext.Session.GetString("email")</p>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-header bg-success">
                                        <h5 class="card-title"><i class="fa fa-gears"></i> Settings</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="alert alert-success text-center" role="alert">
                                            <i class='fa fa-check'></i> Successful Change Password!
                                        </div>
                                        <form class="form-horizontal">
                                            <div class="form-group row">
                                                <label class="col-sm-3 control-label">SESA ID</label>

                                                <div class="col-sm-9">
                                                    <input type="text" id="sesa_id" value="@ViewBag.sesa_id" class="form-control form-control-sm" placeholder="Insert SESA" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 control-label">Old Password</label>

                                                <div class="col-sm-9">
                                                    <input type="password" id="oldpsw" class="form-control form-control-sm" placeholder="Insert Old Password" />
                                                    <input type="hidden" id="usr_id" class="form-control form-control-sm" value="@HttpContextAccessor.HttpContext.Session.GetString("id")" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 control-label">New Password</label>

                                                <div class="col-sm-9">
                                                    <input type="password" id="newpsw" class="form-control form-control-sm" placeholder="Insert New Password" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 control-label">Confirm Password</label>

                                                <div class="col-sm-9">
                                                    <input type="password" id="password" class="form-control form-control-sm" placeholder="Insert Confirm Password" />
                                                </div>
                                            </div>
                                        </form>
                                    </div><!-- /.card-body -->
                                    <div class="card-footer">
                                        <div class="float-center">
                                            <button type="button" class="btn btn-success" id="btn_lead" onclick="verify_save()"><i class="fa fa-key"></i> Change Password</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.nav-tabs-custom -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            $(".alert").hide();
        })
        function verify_save() {
            var usr_sesa = $('#sesa_id').val();
            var oldPassword = $('#oldpsw').val();
            var newPassword = $('#newpsw').val();
            var confirmPassword = $('#password').val();
            var userId = '@HttpContextAccessor.HttpContext.Session.GetString("id")';

            if (usr_sesa == '' || oldPassword === '' || newPassword === '' || confirmPassword === '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Please Fill in All the requirement first !'
                });
                return;
            }

            if (newPassword !== confirmPassword) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'New password and confirmed password do not match!'
                });
                return;
            }

            Swal.fire({
                title: 'Confirm Edit Password?',
                text: 'Are you sure to confirm this user password change?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#28a745',
                cancelButtonColor: '#dc3545',
                confirmButtonText: 'Yes!',
                cancelButtonText: 'No!',
                showLoaderOnConfirm: true,
                preConfirm: function () {
                    return $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ChangePassword", "Admin")',
                        data: {
                            usr_sesa: usr_sesa,
                            usr_password: newPassword,
                            usr_id: userId
                        },
                        dataType: 'json'
                    });
                }
            }).then(function (response) {
                $('#spinner_loading').hide();
                if (response.value) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Edit Successfully!'
                    }).then(function () {
                        window.location.href = '@Url.Action("ChangePassword", "Admin")';
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred while updating the password. Please try again.'
                    });
                }
            }).catch(function (error) {
                console.error(error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'There is an error. Please try again.'
                });
            });
        }

    </script>

}

